on:
  release:
    types: [created]
jobs:
  Build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
          - goos: darwin
            goarch: amd64
          - goos: darwin
            goarch: arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup golang
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.1
      - name: Build ${{ matrix.goos }} / ${{ matrix.GOARCH }}
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: go build -o streamdeckd-${{ matrix.goos }}-${{ matrix.goarch }} .
      - name: Upload release binary
        uses: alexellis/upload-assets@0.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          asset_paths: 'streamdeckd-${{ matrix.goos }}-${{ matrix.goarch }}'