on:
  push:
    tags:
      - '*'

jobs:
  Build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
          - goos: darwin
            goarch: amd64
          - goos: darwin
            goarch: arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup golang
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.1
      - name: Build ${{ matrix.goos }} / ${{ matrix.GOARCH }}
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: go build -o dist/streamdeckd-${{ matrix.goos }}-${{ matrix.goarch }} .
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GH_TOKEN }}
          file: dist/streamdeckd-${{ matrix.goos }}-${{ matrix.goarch }}
          release_name: 'Release ${{ github.ref }}'
          tag: '${{ github.ref }}'